<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">
  <display-name>Custom Unified Service Platform Web Application</display-name>
 
	<!-- this need same with resteasy servlet url-pattern -->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/datares</param-value>
	</context-param>  
  
   	<context-param>
		<param-name>resteasy.guice.modules</param-name>
		<param-value>
			org.vsg.cusp.engine.vertx3.BootstrapVertx3Module
		</param-value>
	</context-param>
  
	<listener>
		<listener-class>org.jboss.resteasy.plugins.guice.GuiceResteasyBootstrapServletContextListener</listener-class>
	</listener> 

  
   	<!-- set the mvc servletd -->
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServlet30Dispatcher
		</servlet-class>
		<async-supported>true</async-supported> 
	</servlet>

	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/datares/*</url-pattern>
	</servlet-mapping>
	 
  
  
</web-app>
